body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	font-size: 14px;
}

#container{
	width: 1024px;
	margin: 0 auto;
}

header{
	padding: 20px 0;
	background: linear-gradient(#111, #333, #111);
	box-shadow:  0px 0px 10px 2px #111;
	margin-bottom: 10px;
	border-radius: 0 0 10px 10px;
}

header h1 {
	text-align: center;
	font-family: Verdana;
	color: #eee;
	font-size: 45px;
	text-shadow:1px 1px 3px orange;
}

article{
	background: linear-gradient(to right, white, orange, orange);
	text-align: justify;
	padding: 5px;
	min-height: 300px;
	overflow: auto;
	box-shadow: 30px 0 30px -30px black, -30px 0 30px -30px black;
}

article ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0px;
    margin-left: 20px;
}

article li {
	text-indent: 10px;
}

#ps3 {
	width: 45%;
	float: left;
	padding: 10px;
	margin: 10px;
	height: 500px;
	background-color: white;
	border-radius: 10px;
	background: linear-gradient(to right, #aaa, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#ps3:hover {
	box-shadow:  0px 0px 20px 5px #111;
	width: 90%;
}

#ps4 {
	width: 45%;
	float: right;
	padding: 10px;
	margin: 10px;
	height: 500px;
	background-color: white;
	clear: both;
	border-radius: 10px;
	background: linear-gradient(to right, #0065a9, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#ps4:hover {
	box-shadow:  0px 0px 20px 5px #0065a9;
	width: 90%;
}

#xbox {
	width: 45%;
	padding: 10px;
	margin: 10px;
	height: 500px;
	float: left;
	background-color: white;
	clear: both;
	border-radius: 10px;
	background: linear-gradient(to right, #0a0, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#xbox:hover {
	box-shadow:  0px 0px 20px 5px #0e0;
	width: 90%;
}

article img {
	float: left;
	padding: 5px;	
	margin-right: 10px;
	margin-bottom: 10px;
	width: 15%;
}

article #ps3 img {
	float: left;
	margin: 10px;	
	width: 45%;
}

article #ps4 img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 45%;
}

article #xbox img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 45%;
}

footer{
	clear: both;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
	height: 50px;
	background: linear-gradient(#333, #111, #333);
	color: white;
	padding-top: 20px;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: orange;
	text-shadow:1px 1px 3px orange;
	box-shadow: 0px -2px 3px #333;
}

form {
	font-weight: bold;
}

input {
	display: block;
}

article p {
	font-size: 14px;
	font-weight: bold;
}
