.ps3_color{
	background: linear-gradient(to left, #aaa, white, white);
}
.ps4_color{
	background: linear-gradient(to left, #0065a9, white, white);
}
.xbox_color{
	background: linear-gradient(to left, #0a0, white, white);	
}
.container_text{
	perspective: 1000px;
	padding: 50px;
}
.container_text img{
	transition:all 1s ease-in-out;
	transform-style: preserve-3d;
	transform: rotateY(40deg);
	width: 20%;
	margin: 20px;
	box-shadow: -5px 5px 5px black;
}
.container_text img:hover{
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	box-shadow: 0px 5px 5px black;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#container{
	width: 1024px;
	margin: 0 auto;
}

header{
	padding: 20px 0;
	background: linear-gradient(#111, #333, #111);
	box-shadow:  0px 0px 10px 2px #111;
	margin-bottom: 10px;
	border-radius: 0 0 10px 10px;
}

header h1 {
	text-align: center;
	font-family: Verdana;
	color: #eee;
	font-size: 45px;
	text-shadow:1px 1px 3px orange;
}

article{
	background: linear-gradient(to right, white, white, orange);
	text-align: justify;
	padding: 5px;
	min-height: 200px;
	overflow: hidden;
	box-shadow: 30px 0 30px -30px black, -30px 0 30px -30px black;
}

article ul {
	width: 400px;
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0px;
    margin-left: 10px;
}

article li {
	text-indent: 10px;
}

#cassificacao {
	width: 100%;
	padding: 10px;
}

table {
    width: 98%;
    border-collapse: collapse;
}

td, th {
    font-size: 1em;
    border: 1px solid #2F4F4F;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #2F4F4F;
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

#info{
    visibility: hidden;
	opacity: 0;
	width: 40%;
    float: left;
	margin-left: 50px;
	overflow: auto;
	height: 250px;
	padding: 10px;

	transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.6s;
}

#ps3 {
	width: 45%;
	float: left;
	padding: 10px;
	margin: 10px;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	background: linear-gradient(to right, #aaa, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#ps3:hover {
	box-shadow:  0px 0px 20px 5px #111;
	width: 95%;
}

#game_info{
	float: left;
}

#ps3:hover #info {
    visibility: visible;
	opacity: 1;
}

#ps4 {
	width: 45%;
	float: right;
	padding: 10px;
	margin: 10px;
	height: 300px;
	background-color: white;
	clear: both;
	border-radius: 10px;
	background: linear-gradient(to right, #0065a9, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#ps4:hover {
	box-shadow:  0px 0px 20px 5px #0065a9;
	width: 90%;
}

#ps4:hover #info {
    visibility: visible;
	opacity: 1;
}

#xbox {
	width: 45%;
	padding: 10px;
	margin: 10px;
	height: 300px;
	float: left;
	background-color: white;
	clear: both;
	border-radius: 10px;
	background: linear-gradient(to right, #0a0, white, white);
	box-shadow:  0px 0px 10px 2px #111;

	transition-property: box-shadow, width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#xbox:hover {
	box-shadow:  0px 0px 20px 5px #0e0;
	width: 90%;
}

#xbox:hover #info {
    visibility: visible;
	opacity: 1;
}

article img {
	float: left;
	padding: 5px;	
	margin-right: 10px;
	margin-bottom: 10px;
	width: 15%;
}

article #ps3 img {
	float: left;
	margin: 10px;	
	width: 235px;
}

article #ps4 img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 235px;
}

article #xbox img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 235px;
}

footer{
	clear: both;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 30px;
	background: linear-gradient(#333, #111, #333);
	color: white;
	padding-top: 20px;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: orange;
	text-shadow:1px 1px 3px orange;
	box-shadow: 0px -2px 3px #333;
}

form {
	font-weight: bold;
}

input {
	display: block;
}

article p {
	font-size: 14px;
	font-weight: bold;
}

#contato{
	width: 500px;
	margin:auto;
}

